anyascii==0.3.2
asttokens==2.4.1
certifi==2023.7.22
charset-normalizer==3.3.0
cli-helpers==2.3.0
click==8.1.7
colorama==0.4.6
comm==0.2.0
configobj==5.0.8
contractions==0.1.73
debugpy==1.8.0
decorator==5.1.1
emoji==2.9.0
executing==2.0.1
idna==3.4
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
langdetect==1.0.9
matplotlib-inline==0.1.6
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
nest-asyncio==1.5.8
numpy==1.26.2
packaging==23.2
parso==0.8.3
pendulum==3.0.0
pgcli==4.0.1
pgspecial==2.1.1
Pillow==10.1.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.6
psycopg==3.1.17
pure-eval==0.2.2
pyahocorasick==2.0.0
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.1
requests==2.31.0
setproctitle==1.3.3
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
tabulate==0.9.0
textsearch==0.0.24
threadpoolctl==3.2.0
time-machine==2.13.0
tornado==6.3.3
traitlets==5.13.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.0.6
watchdog==3.0.0
wcwidth==0.2.9
zipp==3.17.0
